extends ./shared/layout.pug

block tex_body
    h4(style="display: inline;") Title
    input#title(type="text", value=note.title)
    input#note-id(type="hidden", value=note.id)
    span#error(style="color: red;")
    div.row
        div.col-xs-8
            div#editor #{note.body}
        div.col-xs-4
            div#output
